.gradient-background {
  background: linear-gradient(313deg, black, #27374d99, black);
  background-size: 200% 200%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  overflow: auto;
  margin: 0;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Menu Start */
.menu {
  position: fixed;
  top: 0.2vw;
  left: 0.2vw;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.menuIcon {
  width: 10vh;
  height: 10vh;
}

.menuIcon svg {
  transition: fill 0.3s;
}

.menuIcon:hover svg {
  fill: #9db2bf;
}

.menuIcon:hover + .menuItems {
  visibility: visible;
}

.menuIcon:hover + .menuItems ul li a {
  color: #9db2bf;
}

.menuItems {
  visibility: hidden;
  width: 40vw;
}

.menuItems ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 3vh;
  letter-spacing: 0.7vh;
  height: 10vh;
  display: flex;
  align-items: center;
}

.menuItems ul li {
  margin-left: 3vh;
}

.menuItems ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.menuItems:hover,
.menuItems:hover ul li a,
.menuItems:hover ul li a#currentTab {
  visibility: visible;
  color: #27374d;
}

.menuItems ul li:hover a {
  color: #9db2bf;
  text-decoration: underline;
}
/* Menu End */

/* Up and Down Start */
.down {
  grid-area: 3/2/4/3;
  justify-self: center;
  align-self: end;
}

.up {
  grid-area: 1/2/2/3;
  justify-self: center;
  align-self: start;
}

.down a svg,
.up a svg {
  transition: fill 0.3s;
}

.down a:hover svg,
.up a:hover svg {
  fill: #9db2bf;
}
/* Down End */

/* Home Start */
#home {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 4fr 1fr / 4fr 1fr 4fr;
  align-items: center;
}

.homeImage {
  grid-area: 1/1/-1/-1;
}

.homeImage img {
  height: 100vh;
  width: 100vw;
}

.punchLine {
  grid-area: 2/1/3/2;
  padding-left: 10vh;
}

.intro {
  grid-area: 2/3/3/4;
  padding-right: 10vh;
}

.punchLine h1,
.intro h1 {
  color: #dde6ed;
  font-weight: 900;
  font-size: 10vh;
  margin: 0;
  transition: color 0.3s;
  letter-spacing: 0.5vh;
}

.punchLine > p,
.intro > ul {
  color: #526d82;
  margin: 0;
  font-weight: normal;
  font-size: 3vh;
  font-weight: 500;
  transition: color 0.3s;
  letter-spacing: 0.3vh;
}

.punchLine:hover h1 {
  color: #526d82;
}

.punchLine:hover p {
  color: #dde6ed;
}

.intro h1 {
  text-align: end;
}

.intro ul {
  list-style: none;
  text-align: end;
  margin-right: 1vh;
}

.intro:hover h1 {
  color: #526d82;
}

.intro:hover ul {
  color: #dde6ed;
}
/* Home End */

/* Projects Start */
#projects {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 8fr 1fr;
  align-items: center;
}

.carousel {
  grid-area: 2/2/3/3;
  height: 100%;
  width: 100%;
  border: 0.7vh solid #9db2bf;
  border-radius: 1em;
  overflow: hidden;
  transition: border-color 0.3s;
}

.carousel:hover {
  border-color: #27374d;
}

.carousel-item a img {
  object-fit: contain;
}

.carousel-indicators button {
  height: 0.7vh !important;
  width: 3vw !important;
}

.carousel-indicators button:hover {
  /* background-color: #9db2bf !important; */
  height: 1vh !important;
  width: 3.3vw !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 4vw !important;
  height: 10vh !important;
}

.carousel-control-prev-icon {
  margin-left: -6.8vw;
}

.carousel-control-next-icon {
  margin-right: -6.8vw;
}
/* Projects End */

/* About Start */
#about {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 8fr 1fr;
  align-items: center;
}
.hobbies {
  grid-area: 2/2/3/3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 24%;
  border: 0.3em solid #27374d;
  border-radius: 1em;
}

.hobbyIcon {
  background-color: #27374d;
  border-radius: 0.5em;
  width: 7.5em;
  height: 7.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.hobbyIcon img {
  filter: brightness(0);
  transition: fill 0.3s;
}

.hobby h2 {
  color: #dde6ed;
  margin-bottom: 4vh;
}

.hobby p {
  color: #27374d;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 85%;
  text-align: center;
  font-size: 13pt;
}

.hobby:hover h2 {
  color: #27374d;
}

.hobby:hover p {
  color: #dde6ed;
}

.hobby:hover {
  border-color: #526d82;
}

.hobby:hover .hobbyIcon img {
  filter: brightness(1);
}

/* About End */

/* Contact Start */
#contact {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 8fr 1fr;
  align-items: center;
}

.contacts {
  grid-area: 2/2/3/3;
  height: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.contactIcon {
  background-color: #27374d;
  border-radius: 0.5em;
  width: 7.5em;
  height: 7.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.contactIcon a img {
  filter: brightness(1);
  transition: fill 0.3s;
}

.contactIcon:hover a img {
  filter: brightness(0);
}
/* Contact End */

/* Footer Start */
footer {
  grid-area: 3/1/4/4;
  background-color: #27374d55;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #9db2bf;
  text-align: center;
  padding-top: 1%;
}
/* Footer End */

/* Responsiveness Start */
/* General Styles */

.gradient-background {
  background: linear-gradient(313deg, black, #27374d99, black);
  background-size: 200% 200%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  overflow: auto;
  margin: 0;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Menu Start */
.menu {
  position: fixed;
  top: 0.2vw;
  left: 0.2vw;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.menuIcon {
  width: 10vh;
  height: 10vh;
}

.menuIcon svg {
  transition: fill 0.3s;
}

.menuIcon:hover svg {
  fill: #9db2bf;
}

.menuIcon:hover + .menuItems {
  visibility: visible;
}

.menuIcon:hover + .menuItems ul li a {
  color: #9db2bf;
}

.menuItems {
  visibility: hidden;
  width: 40vw;
}

.menuItems ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 3vh;
  letter-spacing: 0.7vh;
  height: 10vh;
  display: flex;
  align-items: center;
}

.menuItems ul li {
  margin-left: 3vh;
}

.menuItems ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.menuItems:hover,
.menuItems:hover ul li a,
.menuItems:hover ul li a#currentTab {
  visibility: visible;
  color: #27374d;
}

.menuItems ul li:hover a {
  color: #9db2bf;
  text-decoration: underline;
}
/* Menu End */

/* Up and Down Start */
.down {
  grid-area: 3/2/4/3;
  justify-self: center;
  align-self: end;
}

.up {
  grid-area: 1/2/2/3;
  justify-self: center;
  align-self: start;
}

.down a svg,
.up a svg {
  transition: fill 0.3s;
}

.down a:hover svg,
.up a:hover svg {
  fill: #9db2bf;
}
/* Down End */

/* Home Start */
#home {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 4fr 1fr / 4fr 1fr 4fr;
  align-items: center;
}

.homeImage {
  grid-area: 1/1/-1/-1;
}

.homeImage img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.punchLine {
  grid-area: 2/1/3/2;
  padding-left: 10vh;
}

.intro {
  grid-area: 2/3/3/4;
  padding-right: 10vh;
}

.punchLine h1,
.intro h1 {
  color: #dde6ed;
  font-weight: 900;
  font-size: 10vh;
  margin: 0;
  transition: color 0.3s;
  letter-spacing: 0.5vh;
}

.punchLine > p,
.intro > ul {
  color: #526d82;
  margin: 0;
  font-weight: normal;
  font-size: 3vh;
  font-weight: 500;
  transition: color 0.3s;
  letter-spacing: 0.3vh;
}

.punchLine:hover h1 {
  color: #526d82;
}

.punchLine:hover p {
  color: #dde6ed;
}

.intro h1 {
  text-align: end;
}

.intro ul {
  list-style: none;
  text-align: end;
  margin-right: 1vh;
}

.intro:hover h1 {
  color: #526d82;
}

.intro:hover ul {
  color: #dde6ed;
}
/* Home End */

/* Projects Start */
#projects {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 8fr 1fr;
  align-items: center;
}

.carousel {
  grid-area: 2/2/3/3;
  height: 100%;
  width: 100%;
  border: 0.7vh solid #9db2bf;
  border-radius: 1em;
  overflow: hidden;
  transition: border-color 0.3s;
}

.carousel:hover {
  border-color: #27374d;
}

.carousel-item a img {
  object-fit: contain;
}

.carousel-indicators button {
  height: 0.7vh !important;
  width: 3vw !important;
}

.carousel-indicators button:hover {
  height: 1vh !important;
  width: 3.3vw !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 4vw !important;
  height: 10vh !important;
}

.carousel-control-prev-icon {
  margin-left: -6.8vw;
}

.carousel-control-next-icon {
  margin-right: -6.8vw;
}
/* Projects End */

/* About Start */
#about {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 8fr 1fr;
  align-items: center;
}
.hobbies {
  grid-area: 2/2/3/3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 24%;
  border: 0.3em solid #27374d;
  border-radius: 1em;
}

.hobbyIcon {
  background-color: #27374d;
  border-radius: 0.5em;
  width: 7.5em;
  height: 7.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.hobbyIcon img {
  filter: brightness(0);
  transition: fill 0.3s;
}

.hobby h2 {
  color: #dde6ed;
  margin-bottom: 4vh;
}

.hobby p {
  color: #27374d;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 85%;
  text-align: center;
  font-size: 13pt;
}

.hobby:hover h2 {
  color: #27374d;
}

.hobby:hover p {
  color: #dde6ed;
}

.hobby:hover {
  border-color: #526d82;
}

.hobby:hover .hobbyIcon img {
  filter: brightness(1);
}

/* About End */

/* Contact Start */
#contact {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 8fr 1fr;
  align-items: center;
}

.contacts {
  grid-area: 2/2/3/3;
  height: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.contactIcon {
  background-color: #27374d;
  border-radius: 0.5em;
  width: 7.5em;
  height: 7.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.contactIcon a img {
  filter: brightness(1);
  transition: fill 0.3s;
}

.contactIcon:hover a img {
  filter: brightness(0);
}
/* Contact End */

/* Footer Start */
footer {
  grid-area: 3/1/4/4;
  background-color: #27374d55;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #9db2bf;
  text-align: center;
  padding-top: 1%;
}
/* Footer End */

/* Responsiveness Start */

/* Smartphone */
@media (max-width: 600px) {
  .menuIcon {
    width: 8vh;
    height: 8vh;
  }

  .menuItems ul {
    font-size: 2.5vh;
  }

  .homeImage img {
    height: auto;
    width: 100%;
  }
}

/* Responsiveness End */
